#!/usr/bin/make -f
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@

override_dh_auto_clean:
	$(MAKE) clean

override_dh_auto_build:
	$(MAKE) all

override_dh_auto_install:
	@:

override_dh_auto_test:
	@:

override_dh_dwz:
	@:
